# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
env/
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
/staticfiles/
/media/

# SQLite database (if used)
db.sqlite3

# Migrations
**/migrations/*.py
!**/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# Byte-compiled
*.egg-info/
dist/
build/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
